# Environments
.env
.venv
*.deps*
# Docker
.dockerignore

# packages
*node_modules

# Hardhat
cache
artifacts*
artifacts/*

# python scripts
*.py

*contracts.json
*contract-list.json
*deployment-contract-calls*
*deployment-variables.json
